a::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  background-color: #ffa500;
  bottom: 0;
  left: 0;
  transition: width 300ms ease 0s;
}

a:hover {
  color: rgb(255, 165, 0);
  transition: color 300ms ease 0s;
}

a:hover::after {
  width: 100%;
}

a:hover svg {
  fill: rgb(255, 165, 0);
  animation: jitter 2000ms ease 0s infinite normal none;
}

@keyframes jitter {
  0% {
    transform: rotate(-12deg);
  }

  8% {
    transform: rotate(12deg);
  }

  10% {
    transform: rotate(24deg);
  }

  18%,
  20% {
    transform: rotate(-24deg);
  }

  28%,
  30% {
    transform: rotate(24deg);
  }

  38%,
  40% {
    transform: rotate(-24deg);
  }

  48%,
  50% {
    transform: rotate(24deg);
  }

  58%,
  60% {
    transform: rotate(-24deg);
  }

  68% {
    transform: rotate(24deg);
  }

  100%,
  75% {
    transform: rotate(0deg);
  }
}
